@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@using System.Web.UI.WebControls
@using LAPTRINHWEB.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Products>
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Public/CSS/all.min.css" rel="stylesheet" />
}

<h2 style="text-align : center"><strong>QUẢN LÝ THÔNG TIN SẢN PHẨM</strong></h2>

<form action="~/Admin/Create" style="margin-bottom: 20px; margin-top: 60px;">
    <input class="btn-primary" type="submit" value="Thêm sản phẩm mới" />
</form>

<table class="table" border="1" width="1000px;">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá cả
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Thời gian
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceBuy)
            </td>
            <td>
                <img src="~/IMG/Products/@item.Img" alt="Alternate Text" width="200px;" height="120px;" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>
            <td width="70px">
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) | <br />
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) | <br />
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@*
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
*@

<div class="MenuTrang" style="text-align: center">
    @Html.PagedListPager(Model, page => Url.Action("Sanpham", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>