@using LAPTRINHWEB.Models
@model List<GioHang>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; color: green; font-weight: bold">THÔNG TIN GIỎ HÀNG</h1>
<hr />
<table align="center" border="1" width="1000px" style="margin-top: 40px; font-size: 17px">
    <tr style="text-align:center;font-weight: bold">
        <td>Hình ảnh</td>
        <td>Tên sản phẩm</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
        <td colspan="3">Chức năng</td>
    </tr>
    @foreach (var item in Model)
    {
<tr style="text-align: center; font-weight: bold">
    <td><img src="~/IMG/Products/@item.Hinhanh" alt="Alternate Text" width="140" /></td>
    <td width="200px">@item.Tensp</td>
    @using (Html.BeginForm("Capnhatgiohang", "Home", new { @Masp = item.Masp }))
    {
        <td>@String.Format("{0:0,0}", item.Dongia)</td>
        <td><input max="20" min="1" name="txtSoluong" type="number" value="@item.Soluong"></td>

        <td>@String.Format("{0:0,0}", item.Thanhtien)</td>

        <td width="50px"><a href="@Url.Action("Details","Products", new { id = item.Masp })" class="btn btn-success"><i class="fa fa-edit"></i></a></td>

        <td width="50px"><a href="@Url.Action("Xoadonhang","Home", new { @Masp = item.Masp })" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>

        <td><input class="btn btn-success" type="submit" value="Cập nhật" /></td>
    }

</tr>
    }
    <tr style="font-weight: bold; text-align: right; color: red;">
        <td colspan="4" style="padding-right: 10px">Số lượng sản phẩm: @ViewBag.Tongsoluong</td>
        <td colspan="4" style="padding-right: 10px">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
</table>
<div class="row" style="margin-top: 10px; margin-left: 10px">  
    <div>
        <a href="~/Products/Index/0" class="btn btn-warning" style="float: left"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>     
        <a href="~/Home/Thanhtoan" class="btn btn-success" style="float:right;">Thanh toán <i class="fa fa-angle-right"></i></a>
    </div>
</div>

